body {
    background-color: #67ab9f;
    margin: 0px;
    font-family: Tahoma;
}

.logo{
    width: 220px;
}

.h3 {
display:flex;
}

.column{
    width: 50%;
    padding: 5%;
   
}

.sunflowersimage {
    max-height: 50%;
    max-width: 50%;
    display: flex;
    padding-left: 25%;
}
article
{
    background-color: #ffffff;  
    width: 80%; 
    height: auto;
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
}

.lorem {
    background-color: #67ab9f;
}

ul {
    list-style-type: none;
    background-color: #817d7d;
    display: flex;
    justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 50px;
  text-decoration: none;
  
}

ul li a:hover {
  background-color: #111111;
}